<h1>List of Users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

   <tr>
      <td>
        alice
      </td>

      <td>
          Yes
      </td>

      <td>
      </td>

      <td>
        <a href="/users/alice">Show details</a>
      </td>
    </tr>
  </table>